body{
    font-family: 'Akshar', sans-serif;
    background-color: rgb(228, 240, 251);
}
.titulo{
    text-align: center;
    padding: 50px;
    background-color: black;
    color: white;
    margin-bottom:50px;
    font-weight: bolder;
}
.parrafo1{
    width: 945px;
    margin-left:10px;
    font-size: 25px;
    margin-right: 50px;
    margin-bottom: 50px;
}
.parrafo2{
     margin-top: 15px;
     width:850px;
     margin-left: 25px;
}
p{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 2px;
}
.sub-titulos{
    text-align: left;
    font-weight: bolder;
    margin-top: 50px;
    margin-bottom:15px;
    font-size: 20px;
    text-transform: uppercase;
}
.imagenes1{
    border:3px solid black;
    margin-left:25px;
    border-radius: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 350px;
    height: 250px;
}
.fondo0{
    width: 945px;
}
.fondo1{
    width: 945px;
}